<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Checkout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="cssload-container">
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-modern rd-navbar-modern-1" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="50px" data-xl-stick-up-offset="50px" data-xxl-stick-up-offset="50px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-auto-height="false" data-xl-auto-height="false" data-xxl-auto-height="false">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-418x78.png" alt="" width="209" height="39"/><img class="brand-logo-light" src="images/logo-inverse-416x78.png" alt="" width="208" height="39"/></a>
                  </div>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item"><a class="rd-nav-link" href="./">Home</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="about-us.html">About</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="our-team.html">Our Team</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="team-member.html">Team Member</a>
                        </li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="shop.html">Shop</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="blog.html">Blog</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog post</a>
                        </li>
                      </ul>
                    </li>
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="#">Pages</a>
                      <ul class="rd-menu rd-navbar-megamenu">
                        <li class="rd-megamenu-item">
                          <h6 class="rd-megamenu-title"><a href="shop.html">Shop</a></h6>
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="shop.html">Shop</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="single-product.html">Single product</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="pricing-tables.html">Pricing tables</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="cart-page.html">Cart page</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="checkout.html">Checkout</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <h6 class="rd-megamenu-title"><a href="#">Pages 1</a></h6>
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="faq.html">FAQ</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="gallery.html">Gallery</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="promotions.html">Promotions</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="single-promotion.html">Single Promotion</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <h6 class="rd-megamenu-title"><a href="#">Pages 2</a></h6>
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404.html">404</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming soon</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="search-results.html">Search results</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy policy</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="contact-us.html">Contact Us</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-image"><a class="rd-megamenu-link" href="contact-us.html"></a></li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#">Elements</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="typography.html">Typography</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="buttons.html">Buttons</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="forms.html">Forms</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="tabs.html">Tabs</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="progress-bars.html">Progress bars</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="counters.html">Counters</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="icon-lists.html">Icon lists</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="rd-navbar-elements"><a class="rd-navbar-basket linearicons-cart rd-navbar-fixed-element-2" href="cart-page.html"><span>2</span></a>
                  <button class="sidebar-toggle sidebar-toggle-1 rd-navbar-fixed-element-1" data-multitoggle=".sidebar-wrap" data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate=""><span></span></button>
                </div>
              </div>
            </div>
            <button class="sidebar-toggle sidebar-toggle-2" data-multitoggle=".sidebar-wrap" data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate=""><span></span></button>
            <div class="sidebar-wrap">
              <div class="sidebar">
                <h5 class="sidebar-title">Get in Touch</h5><img src="images/image-1-333x262.jpg" alt="" width="333" height="262"/>
                <ul class="contacts-creative">
                  <li>
                    <div class="unit unit-spacing-md">
                      <div class="unit-left"><span class="icon linearicons-telephone"></span></div>
                      <div class="unit-body">T. <a href="tel:#">+61 3 8376 6284</a><br>E. <a href="mailto:#">info@demolink.org</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-md">
                      <div class="unit-left"><span class="icon linearicons-clock3"></span></div>
                      <div class="unit-body">Opening Hours:<br>07:00 am - 07:00 pm</div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-md">
                      <div class="unit-left"><span class="icon linearicons-map2"></span></div>
                      <div class="unit-body"><a href="#">652 Main Road, Apt 12 New York, USA 10033</a></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="sidebar-panel">
                <ul class="list-social">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-google" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-pinterest" href="#"></a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom overlay-creative">
        <div class="breadcrumbs-main" style="background-image: url(images/breadcrumbs-bg.png);">
          <div class="container">
            <div class="row align-items-center flex-column-reverse flex-lg-row">
              <div class="col-xl-4 col-lg-6">
                <div class="breadcrumbs-media"><img src="images/breadcrumbs-img-486x295.png" alt="" width="486" height="295"/>
                </div>
              </div>
              <div class="col-xl-8 col-lg-6 text-lg-left text-center">
                <h2 class="breadcrumbs-custom-title scroll-title">Checkout</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-panel">
          <div class="container">
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active">Checkout</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Section checkout form-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50 justify-content-center">
            <div class="col-md-10 col-lg-6">
              <h4>Billing Address</h4>
              <form class="rd-form rd-mailform form-checkout">
                <div class="row row-20 gutter-20">
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-first-name-1" type="text" name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-first-name-1">First Name</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-last-name-1" type="text" name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-last-name-1">Last Name</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-company-1" type="text" name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-company-1">Company</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-address-1" type="text" name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-address-1">Address</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-postcode-1" type="text" name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-postcode-1">Postcode</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-city-1" type="text" name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-city-1">City</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-email-1" type="email" name="email" data-constraints="@Email @Required"/>
                      <label class="form-label" for="checkout-email-1">E-Mail</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-phone-1" type="text" name="phone" data-constraints="@Numeric"/>
                      <label class="form-label" for="checkout-phone-1">Phone</label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-10 col-lg-6">
              <h4>Delivery Address</h4>
              <form class="rd-form rd-mailform form-checkout">
                <div class="row row-20 gutter-20">
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-first-name-2" type="text" name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-first-name-2">First Name</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-last-name-2" type="text" name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-last-name-2">Last Name</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-company-2" type="text" name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-company-2">Company</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-address-2" type="text" name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-address-2">Address</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-postcode-2" type="text" name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-postcode-2">Postcode</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-city-2" type="text" name="name" data-constraints="@Required"/>
                      <label class="form-label" for="checkout-city-2">City</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-email-2" type="email" name="email" data-constraints="@Email @Required"/>
                      <label class="form-label" for="checkout-email-2">E-Mail</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="checkout-phone-2" type="text" name="phone" data-constraints="@Numeric"/>
                      <label class="form-label" for="checkout-phone-2">Phone</label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- Shopping Cart-->
      <section class="section section-lg bg-default">
        <div class="container">
          <h4>Your shopping cart</h4>
          <div class="table-custom-responsive">
            <table class="table-custom table-cart">
              <thead>
                <tr>
                  <th>Product name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="table-cart-item"><a class="table-cart-figure" href="single-product.html"><img src="images/product-mini-1-146x132.png" alt="" width="146" height="132"/></a><a class="table-cart-link" href="single-product.html">Klim Men's F4 Snocross</a></div>
                  </td>
                  <td>$250</td>
                  <td>
                    <div class="stepper-style-2">
                      <input type="number" data-zeros="true" value="1" min="1" max="1000">
                    </div>
                  </td>
                  <td>$250</td>
                </tr>
                <tr>
                  <td>
                    <div class="table-cart-item"><a class="table-cart-figure" href="single-product.html"><img src="images/product-mini-2-146x132.png" alt="" width="146" height="132"/></a><a class="table-cart-link" href="single-product.html">Motorcycle Riding Jacket</a></div>
                  </td>
                  <td>$290</td>
                  <td>
                    <div class="stepper-style-2">
                      <input type="number" data-zeros="true" value="1" min="1" max="1000">
                    </div>
                  </td>
                  <td>$290</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <!-- Section Payment-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-md-6">
              <h4>Payment methods</h4>
              <div class="box-radio">
                <div class="radio-panel">
                  <label class="radio-inline active">
                    <input name="input-group-radio" value="checkbox-1" type="radio" checked>Direct Bank Transfer
                  </label>
                  <div class="radio-panel-content">
                    <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
                  </div>
                </div>
                <div class="radio-panel">
                  <label class="radio-inline">
                    <input name="input-group-radio" value="checkbox-1" type="radio">PayPal
                  </label>
                  <div class="radio-panel-content">
                    <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                  </div>
                </div>
                <div class="radio-panel">
                  <label class="radio-inline">
                    <input name="input-group-radio" value="checkbox-1" type="radio">Cheque Payment
                  </label>
                  <div class="radio-panel-content">
                    <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h4>Cart total</h4>
              <div class="table-custom-responsive">
                <table class="table-custom table-checkout">
                  <tbody>
                    <tr>
                      <td>Cart Subtotal</td>
                      <td>$540</td>
                    </tr>
                    <tr>
                      <td>Shipping</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Total</td>
                      <td>$540</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="text-right offset-top-5">
            <button class="button button-lg button-gradient" type="button">Checkout</button>
          </div>
        </div>
      </section>

      <footer class="section footer-modern bg-gray-13">
        <div class="footer-modern-body section-lg">
          <div class="container wow fadeInUp">
            <div class="row row-30 row-md-50 justify-content-md-between">
              <div class="col-md-6 col-lg-4">
                <div class="footer-modern-brand">
                  <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-418x78.png" alt="" width="209" height="39"/><img class="brand-logo-light" src="images/logo-inverse-416x78.png" alt="" width="208" height="39"/></a>
                </div>
                <p class="footer-caption">Brightcycle bike shop offers a wide variety of motorbikes by recognized manufacturers as well as replacement parts and accessories for bike riders.</p>
                <div class="footer-modern-list-social">
                  <ul class="list-social list-social-3 list-inline list-inline-xl">
                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon mdi mdi-youtube-play" href="#"></a></li>
                    <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  </ul>
                </div>
                <p class="rights"><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><span>All Rights Reserved</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy.</a></p>
              </div>
              <div class="col-md-5 col-lg-4 col-xl-3">
                <div class="heading-5 footer-modern-title">Opening hours</div>
                <ul class="footer-modern-schedule">
                  <li><span>Mon-Thu</span><span>7 am - 9 pm</span></li>
                  <li><span>Friday</span><span>7 am - 7 pm</span></li>
                  <li><span>Saturday</span><span>7 am - 5 pm</span></li>
                  <li><span>Sunday</span><span>Closed</span></li>
                </ul>
              </div>
              <div class="col-lg-3">
                <div class="heading-5 footer-modern-title">Motivation</div>
                <div class="owl-carousel owl-style-6 owl-dots-1" data-items="1" data-dots="true" data-autoplay="true" data-margin="30">
                  <!-- Quote navy-->
                  <article class="quote-navy">
                    <div class="quote-navy-text">
                      <p class="q">Thanks to your wonderful team, this shop has become my #1 place for motorbike shopping.</p>
                    </div>
                    <div class="quote-navy-title">Amelia Smith</div>
                  </article>
                  <!-- Quote navy-->
                  <article class="quote-navy">
                    <div class="quote-navy-text">
                      <p class="q">Your choice of bike helmets is really awesome! I’ve found what I wanted in just a few minutes.</p>
                    </div>
                    <div class="quote-navy-title">Peter Williams</div>
                  </article>
                  <!-- Quote navy-->
                  <article class="quote-navy">
                    <div class="quote-navy-text">
                      <p class="q">This is one of the best motorcycle shops I have ever been to! Thank you for your service!</p>
                    </div>
                    <div class="quote-navy-title">Sam McMillan</div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-modern-panel bg-gray-7">
          <div class="container wow fadeInUp">
            <div class="row justify-content-center">
              <div class="col-xl-11">
                <ul class="footer-modern-nav list-inline">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about-us.html">About</a></li>
                  <li><a href="shop.html">Shop</a></li>
                  <li><a href="#">Elements</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="contact-us.html">Contacts</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>