<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Team member</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="cssload-container">
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-modern rd-navbar-modern-1" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="50px" data-xl-stick-up-offset="50px" data-xxl-stick-up-offset="50px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-auto-height="false" data-xl-auto-height="false" data-xxl-auto-height="false">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-418x78.png" alt="" width="209" height="39"/><img class="brand-logo-light" src="images/logo-inverse-416x78.png" alt="" width="208" height="39"/></a>
                  </div>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item"><a class="rd-nav-link" href="./">Home</a>
                    </li>
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="about-us.html">About</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="our-team.html">Our Team</a>
                        </li>
                        <li class="rd-dropdown-item active"><a class="rd-dropdown-link" href="team-member.html">Team Member</a>
                        </li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="shop.html">Shop</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="blog.html">Blog</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog post</a>
                        </li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                      <ul class="rd-menu rd-navbar-megamenu">
                        <li class="rd-megamenu-item">
                          <h6 class="rd-megamenu-title"><a href="shop.html">Shop</a></h6>
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="shop.html">Shop</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="single-product.html">Single product</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="pricing-tables.html">Pricing tables</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="cart-page.html">Cart page</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="checkout.html">Checkout</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <h6 class="rd-megamenu-title"><a href="#">Pages 1</a></h6>
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="faq.html">FAQ</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="gallery.html">Gallery</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="promotions.html">Promotions</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="single-promotion.html">Single Promotion</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <h6 class="rd-megamenu-title"><a href="#">Pages 2</a></h6>
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404.html">404</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming soon</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="search-results.html">Search results</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy policy</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="contact-us.html">Contact Us</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-image"><a class="rd-megamenu-link" href="contact-us.html"></a></li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#">Elements</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="typography.html">Typography</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="buttons.html">Buttons</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="forms.html">Forms</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="tabs.html">Tabs</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="progress-bars.html">Progress bars</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="counters.html">Counters</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="icon-lists.html">Icon lists</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="rd-navbar-elements"><a class="rd-navbar-basket linearicons-cart rd-navbar-fixed-element-2" href="cart-page.html"><span>2</span></a>
                  <button class="sidebar-toggle sidebar-toggle-1 rd-navbar-fixed-element-1" data-multitoggle=".sidebar-wrap" data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate=""><span></span></button>
                </div>
              </div>
            </div>
            <button class="sidebar-toggle sidebar-toggle-2" data-multitoggle=".sidebar-wrap" data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate=""><span></span></button>
            <div class="sidebar-wrap">
              <div class="sidebar">
                <h5 class="sidebar-title">Get in Touch</h5><img src="images/image-1-333x262.jpg" alt="" width="333" height="262"/>
                <ul class="contacts-creative">
                  <li>
                    <div class="unit unit-spacing-md">
                      <div class="unit-left"><span class="icon linearicons-telephone"></span></div>
                      <div class="unit-body">T. <a href="tel:#">+61 3 8376 6284</a><br>E. <a href="mailto:#">info@demolink.org</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-md">
                      <div class="unit-left"><span class="icon linearicons-clock3"></span></div>
                      <div class="unit-body">Opening Hours:<br>07:00 am - 07:00 pm</div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-md">
                      <div class="unit-left"><span class="icon linearicons-map2"></span></div>
                      <div class="unit-body"><a href="#">652 Main Road, Apt 12 New York, USA 10033</a></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="sidebar-panel">
                <ul class="list-social">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-google" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-pinterest" href="#"></a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom overlay-creative">
        <div class="breadcrumbs-main" style="background-image: url(images/breadcrumbs-bg.png);">
          <div class="container">
            <div class="row align-items-center flex-column-reverse flex-lg-row">
              <div class="col-xl-4 col-lg-6">
                <div class="breadcrumbs-media"><img src="images/breadcrumbs-img-486x295.png" alt="" width="486" height="295"/>
                </div>
              </div>
              <div class="col-xl-8 col-lg-6 text-lg-left text-center">
                <h2 class="breadcrumbs-custom-title scroll-title">Team Member</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-panel">
          <div class="container">
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li><a href="about-us.html">About</a></li>
              <li class="active">Team Member</li>
            </ul>
          </div>
        </div>
      </section>
      <!--Single coach page-->
      <section class="section section-xl bg-default">
        <div class="container">
          <div class="row row-30 row-lg-50">
            <div class="col-sm-6 col-md-5 col-lg-6"><img src="images/team-11-500x537.jpg" alt="" width="500" height="537"/>
            </div>
            <div class="col-md-7 col-lg-6">
              <div class="team-big">
                <div class="heading-3 team-big-name">Shawn Gray</div>
                <div class="team-big-position">managing director</div>
                <ul class="list-social list-inline list-inline-md">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-google" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-pinterest" href="#"></a></li>
                </ul>
                <div class="big team-big-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gimply dummy text of the printing and typesetting industryorem Ipsum has been the industry's standard dummy texake of the.</div>
                <div class="progress-linear-wrap">
                  <!--Linear progress bar-->
                  <div class="progress-linear progress-linear-primary">
                    <div class="progress-linear-header">
                      <p class="progress-linear-title">Dedication</p><span class="progress-linear-counter">85</span>
                    </div>
                    <div class="progress-linear-body">
                      <div class="progress-linear-bar"></div>
                    </div>
                  </div>
                  <!--Linear progress bar-->
                  <div class="progress-linear progress-linear-primary">
                    <div class="progress-linear-header">
                      <p class="progress-linear-title">Knowledge</p><span class="progress-linear-counter">80</span>
                    </div>
                    <div class="progress-linear-body">
                      <div class="progress-linear-bar"></div>
                    </div>
                  </div>
                  <!--Linear progress bar-->
                  <div class="progress-linear progress-linear-primary">
                    <div class="progress-linear-header">
                      <p class="progress-linear-title">Experience</p><span class="progress-linear-counter">70</span>
                    </div>
                    <div class="progress-linear-body">
                      <div class="progress-linear-bar"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section bg-gray-13">
        <div class="row no-gutters bordered-1">
          <div class="col-sm-6 col-xl-3">
            <!-- Box classic-->
            <article class="box-classic box-advantages box-classic-1 wow fadeInUp">
              <div class="box-classic-icon mdi mdi-reply"></div>
              <div class="heading-4 box-classic-title">Reasonable prices</div>
              <div class="big box-classic-text">If you didn’t like your bike, you can always return it during the first 2 weeks of its usage.</div>
            </article>
          </div>
          <div class="col-sm-6 col-xl-3">
            <!-- Box classic-->
            <article class="box-classic box-advantages box-classic-1 wow fadeInUp" data-wow-delay=".05s">
              <div class="box-classic-icon mdi mdi-account-star-variant"></div>
              <div class="heading-4 box-classic-title">Professional Team</div>
              <div class="big box-classic-text">Our sales managers and consultants are always glad to help you choose a bike.</div>
            </article>
          </div>
          <div class="col-sm-6 col-xl-3">
            <!-- Box classic-->
            <article class="box-classic box-advantages box-classic-1 wow fadeInUp" data-wow-delay=".1s">
              <div class="box-classic-icon mdi mdi-truck"></div>
              <div class="heading-4 box-classic-title">Free Delivery</div>
              <div class="big box-classic-text">Our delivery service guarantees quick and secure delivery of your favorite motorcycle.</div>
            </article>
          </div>
          <div class="col-sm-6 col-xl-3">
            <!-- Box classic-->
            <article class="box-classic box-advantages box-classic-1 wow fadeInUp" data-wow-delay=".15s">
              <div class="box-classic-icon mdi mdi-cash-usd"></div>
              <div class="heading-4 box-classic-title">payment Methods</div>
              <div class="big box-classic-text">We offer a variety of payment methods including cash, credit cards, and cheques.</div>
            </article>
          </div>
        </div>
      </section>
      <section class="section section-xxl bg-gray-100 section-decor-1">
        <div class="container tabs-custom tabs-style-2">
          <div class="row row-30 justify-content-center">
            <div class="col-md-7 wow fadeInLeft">
              <h6 class="title-8">Testimonials</h6>
              <h2 class="font-weight-bold">What our Clients say</h2>
              <!--Tab panes-->
              <div class="tab-content inset-xl-right-40">
                <div class="tab-pane fade show active" id="tabs-1-1">
                  <!-- Quote modern-->
                  <article class="quote-modern">
                    <div class="big quote-modern-text">
                      <p class="q">I am extremely pleased with the process of purchasing my new Honda Africa Twin from Brightcycle. I knew exactly what I wanted so it was easy to choose and purchase this motorcycle.</p>
                    </div>
                    <div class="heading-5 quote-modern-title">Helen Russell</div>
                    <div class="quote-modern-subtitle">Regular Client</div>
                  </article>
                </div>
                <div class="tab-pane fade" id="tabs-1-2">
                  <!-- Quote modern-->
                  <article class="quote-modern">
                    <div class="big quote-modern-text">
                      <p class="q">I've bought two motorcycles from this place and never plan to shop anywhere else! Low-pressure atmosphere, friendly mechanics, and excellent prices. I'm treated like family here!</p>
                    </div>
                    <div class="heading-5 quote-modern-title">Joseph Wilson</div>
                    <div class="quote-modern-subtitle">Regular Client</div>
                  </article>
                </div>
                <div class="tab-pane fade" id="tabs-1-3">
                  <!-- Quote modern-->
                  <article class="quote-modern">
                    <div class="big quote-modern-text">
                      <p class="q">Extremely helpful staff. The team at Brightcycle saved my road trip! I called all over town looking for a new motorcycle and they provided me with what I needed, quickly and efficiently.</p>
                    </div>
                    <div class="heading-5 quote-modern-title">Eric Thompson</div>
                    <div class="quote-modern-subtitle">Regular Client</div>
                  </article>
                </div>
                <div class="tab-pane fade" id="tabs-1-4">
                  <!-- Quote modern-->
                  <article class="quote-modern">
                    <div class="big quote-modern-text">
                      <p class="q">Great, friendly service. Brightcycle never tried to sell me something I don't need. They've never snobbed my weird taste in motorbikes and that’s why I recommend them to everyone!</p>
                    </div>
                    <div class="heading-5 quote-modern-title">Gary Wood</div>
                    <div class="quote-modern-subtitle">Regular Client</div>
                  </article>
                </div>
                <div class="tab-pane fade" id="tabs-1-5">
                  <!-- Quote modern-->
                  <article class="quote-modern">
                    <div class="big quote-modern-text">
                      <p class="q">This place is awesome.  I was looking for a reliable place to buy a motorcycle and Brightcycle team proved to be extremely friendly and helpful. They set me up with the Kawasaki Ninja.</p>
                    </div>
                    <div class="heading-5 quote-modern-title">Amy Washington</div>
                    <div class="quote-modern-subtitle">Regular Client</div>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-md-5 wow fadeInRight">
              <!--Nav tabs-->
              <ul class="nav nav-tabs">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab"><img src="images/user-5-89x89.jpg" alt="" width="89" height="89"/></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab"><img src="images/user-12-89x89.jpg" alt="" width="89" height="89"/></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab"><img src="images/user-13-89x89.jpg" alt="" width="89" height="89"/></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-4" data-toggle="tab"><img src="images/user-14-89x89.jpg" alt="" width="89" height="89"/></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-5" data-toggle="tab"><img src="images/user-4-89x89.jpg" alt="" width="89" height="89"/></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <footer class="section footer-modern bg-gray-13">
        <div class="footer-modern-body section-lg">
          <div class="container wow fadeInUp">
            <div class="row row-30 row-md-50 justify-content-md-between">
              <div class="col-md-6 col-lg-4">
                <div class="footer-modern-brand">
                  <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-418x78.png" alt="" width="209" height="39"/><img class="brand-logo-light" src="images/logo-inverse-416x78.png" alt="" width="208" height="39"/></a>
                </div>
                <p class="footer-caption">Brightcycle bike shop offers a wide variety of motorbikes by recognized manufacturers as well as replacement parts and accessories for bike riders.</p>
                <div class="footer-modern-list-social">
                  <ul class="list-social list-social-3 list-inline list-inline-xl">
                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon mdi mdi-youtube-play" href="#"></a></li>
                    <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  </ul>
                </div>
                <p class="rights"><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><span>All Rights Reserved</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy.</a></p>
              </div>
              <div class="col-md-5 col-lg-4 col-xl-3">
                <div class="heading-5 footer-modern-title">Opening hours</div>
                <ul class="footer-modern-schedule">
                  <li><span>Mon-Thu</span><span>7 am - 9 pm</span></li>
                  <li><span>Friday</span><span>7 am - 7 pm</span></li>
                  <li><span>Saturday</span><span>7 am - 5 pm</span></li>
                  <li><span>Sunday</span><span>Closed</span></li>
                </ul>
              </div>
              <div class="col-lg-3">
                <div class="heading-5 footer-modern-title">Motivation</div>
                <div class="owl-carousel owl-style-6 owl-dots-1" data-items="1" data-dots="true" data-autoplay="true" data-margin="30">
                  <!-- Quote navy-->
                  <article class="quote-navy">
                    <div class="quote-navy-text">
                      <p class="q">Thanks to your wonderful team, this shop has become my #1 place for motorbike shopping.</p>
                    </div>
                    <div class="quote-navy-title">Amelia Smith</div>
                  </article>
                  <!-- Quote navy-->
                  <article class="quote-navy">
                    <div class="quote-navy-text">
                      <p class="q">Your choice of bike helmets is really awesome! I’ve found what I wanted in just a few minutes.</p>
                    </div>
                    <div class="quote-navy-title">Peter Williams</div>
                  </article>
                  <!-- Quote navy-->
                  <article class="quote-navy">
                    <div class="quote-navy-text">
                      <p class="q">This is one of the best motorcycle shops I have ever been to! Thank you for your service!</p>
                    </div>
                    <div class="quote-navy-title">Sam McMillan</div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-modern-panel bg-gray-7">
          <div class="container wow fadeInUp">
            <div class="row justify-content-center">
              <div class="col-xl-11">
                <ul class="footer-modern-nav list-inline">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about-us.html">About</a></li>
                  <li><a href="shop.html">Shop</a></li>
                  <li><a href="#">Elements</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="contact-us.html">Contacts</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>