<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Typography</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="cssload-container">
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
        <div class="load-circle-item">
          <div class="load-circle"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-modern rd-navbar-modern-1" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="50px" data-xl-stick-up-offset="50px" data-xxl-stick-up-offset="50px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-auto-height="false" data-xl-auto-height="false" data-xxl-auto-height="false">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-418x78.png" alt="" width="209" height="39"/><img class="brand-logo-light" src="images/logo-inverse-416x78.png" alt="" width="208" height="39"/></a>
                  </div>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item"><a class="rd-nav-link" href="./">Home</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="about-us.html">About</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="our-team.html">Our Team</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="team-member.html">Team Member</a>
                        </li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="shop.html">Shop</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="blog.html">Blog</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog-post.html">Blog post</a>
                        </li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#">Pages</a>
                      <ul class="rd-menu rd-navbar-megamenu">
                        <li class="rd-megamenu-item">
                          <h6 class="rd-megamenu-title"><a href="shop.html">Shop</a></h6>
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="shop.html">Shop</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="single-product.html">Single product</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="pricing-tables.html">Pricing tables</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="cart-page.html">Cart page</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="checkout.html">Checkout</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <h6 class="rd-megamenu-title"><a href="#">Pages 1</a></h6>
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="faq.html">FAQ</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="gallery.html">Gallery</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="promotions.html">Promotions</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="single-promotion.html">Single Promotion</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-item">
                          <h6 class="rd-megamenu-title"><a href="#">Pages 2</a></h6>
                          <ul class="rd-megamenu-list">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404.html">404</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming soon</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="search-results.html">Search results</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy policy</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="contact-us.html">Contact Us</a></li>
                          </ul>
                        </li>
                        <li class="rd-megamenu-image"><a class="rd-megamenu-link" href="contact-us.html"></a></li>
                      </ul>
                    </li>
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="#">Elements</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item active"><a class="rd-dropdown-link" href="typography.html">Typography</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="buttons.html">Buttons</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="forms.html">Forms</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="tabs.html">Tabs</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="progress-bars.html">Progress bars</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="counters.html">Counters</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="icon-lists.html">Icon lists</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="rd-navbar-elements"><a class="rd-navbar-basket linearicons-cart rd-navbar-fixed-element-2" href="cart-page.html"><span>2</span></a>
                  <button class="sidebar-toggle sidebar-toggle-1 rd-navbar-fixed-element-1" data-multitoggle=".sidebar-wrap" data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate=""><span></span></button>
                </div>
              </div>
            </div>
            <button class="sidebar-toggle sidebar-toggle-2" data-multitoggle=".sidebar-wrap" data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate=""><span></span></button>
            <div class="sidebar-wrap">
              <div class="sidebar">
                <h5 class="sidebar-title">Get in Touch</h5><img src="images/image-1-333x262.jpg" alt="" width="333" height="262"/>
                <ul class="contacts-creative">
                  <li>
                    <div class="unit unit-spacing-md">
                      <div class="unit-left"><span class="icon linearicons-telephone"></span></div>
                      <div class="unit-body">T. <a href="tel:#">+61 3 8376 6284</a><br>E. <a href="mailto:#">info@demolink.org</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-md">
                      <div class="unit-left"><span class="icon linearicons-clock3"></span></div>
                      <div class="unit-body">Opening Hours:<br>07:00 am - 07:00 pm</div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-md">
                      <div class="unit-left"><span class="icon linearicons-map2"></span></div>
                      <div class="unit-body"><a href="#">652 Main Road, Apt 12 New York, USA 10033</a></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="sidebar-panel">
                <ul class="list-social">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-google" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon mdi mdi-pinterest" href="#"></a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom overlay-creative">
        <div class="breadcrumbs-main" style="background-image: url(images/breadcrumbs-bg.png);">
          <div class="container">
            <div class="row align-items-center flex-column-reverse flex-lg-row">
              <div class="col-xl-4 col-lg-6">
                <div class="breadcrumbs-media"><img src="images/breadcrumbs-img-486x295.png" alt="" width="486" height="295"/>
                </div>
              </div>
              <div class="col-xl-8 col-lg-6 text-lg-left text-center">
                <h2 class="breadcrumbs-custom-title scroll-title">Typography</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-panel">
          <div class="container">
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Elements</a></li>
              <li class="active">Typography</li>
            </ul>
          </div>
        </div>
      </section>
      <!--Base typography -->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50 flex-lg-row-reverse justify-content-xl-between">
            <div class="col-12">
              <ul class="list-xl">
                <li>
                  <h1>H1 Heading</h1>
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
                <li>
                  <h2>H2 Heading</h2>
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
                <li>
                  <h3>H3 Heading</h3>
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
                <li>
                  <h4>H4 Heading</h4>
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
                <li>
                  <h5>H5 Heading</h5>
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
                <li>
                  <h6>H6 Heading</h6>
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- HTML Text Elements-->
      <section class="section section-lg bg-default">
        <div class="container">
          <h2>HTML Text Elements</h2>
          <p class="text-block"><span>Welcome to our wonderful world.</span><span class="text-bold">This is a bold text.</span>
            <mark>This is a highlighted text</mark><span>We sincerely hope that each and every user entering our website will find exactly what he/she is looking for</span><span>With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</span><span class="tooltip-custom" data-toggle="tooltip" data-placement="top" title="Default text">Tooltips</span><span class="text-strike">This is a strickethrough text</span><span class="text-underline">This is an underlined text.</span><a href="#">Link</a><a class="link-hover" href="#">Hover link</a><a class="link-active" href="#">Press link</a>
          </p>
        </div>
      </section>
      <!-- Ordered & unOrdered List-->
      <section class="section section-lg bg-default">
        <div class="container">
          <h2>Ordered & unOrdered List</h2>
          <div class="row row-md row-30">
            <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
              <ul class="list-marked">
                <li>Consulting</li>
                <li>Customer Service</li>
                <li>Innovation</li>
                <li>Management</li>
                <li>Ethics</li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
              <ol class="list-ordered">
                <li>Consulting</li>
                <li>Customer Service</li>
                <li>Innovation</li>
                <li>Management</li>
                <li>Ethics</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
      <!--Blockquote-->
      <section class="section section-lg bg-default">
        <div class="container">
          <h2>Blockquote</h2>
          <div class="row row-lg">
            <div class="col-md-10 col-lg-9 col-xl-8">
              <!-- Quote-->
              <article class="quote">
                <div class="quote-body">
                  <div class="heading-4 quote-text">
                    <p class="q">Netus et malesuada fames ac turpis egestas sed tempus. Morbi tristique senectus et netus et. Faucibus scelerisque eleifend.</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <footer class="section footer-modern bg-gray-13">
        <div class="footer-modern-body section-lg">
          <div class="container wow fadeInUp">
            <div class="row row-30 row-md-50 justify-content-md-between">
              <div class="col-md-6 col-lg-4">
                <div class="footer-modern-brand">
                  <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-418x78.png" alt="" width="209" height="39"/><img class="brand-logo-light" src="images/logo-inverse-416x78.png" alt="" width="208" height="39"/></a>
                </div>
                <p class="footer-caption">Brightcycle bike shop offers a wide variety of motorbikes by recognized manufacturers as well as replacement parts and accessories for bike riders.</p>
                <div class="footer-modern-list-social">
                  <ul class="list-social list-social-3 list-inline list-inline-xl">
                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon mdi mdi-youtube-play" href="#"></a></li>
                    <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                  </ul>
                </div>
                <p class="rights"><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><span>All Rights Reserved</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy.</a></p>
              </div>
              <div class="col-md-5 col-lg-4 col-xl-3">
                <div class="heading-5 footer-modern-title">Opening hours</div>
                <ul class="footer-modern-schedule">
                  <li><span>Mon-Thu</span><span>7 am - 9 pm</span></li>
                  <li><span>Friday</span><span>7 am - 7 pm</span></li>
                  <li><span>Saturday</span><span>7 am - 5 pm</span></li>
                  <li><span>Sunday</span><span>Closed</span></li>
                </ul>
              </div>
              <div class="col-lg-3">
                <div class="heading-5 footer-modern-title">Motivation</div>
                <div class="owl-carousel owl-style-6 owl-dots-1" data-items="1" data-dots="true" data-autoplay="true" data-margin="30">
                  <!-- Quote navy-->
                  <article class="quote-navy">
                    <div class="quote-navy-text">
                      <p class="q">Thanks to your wonderful team, this shop has become my #1 place for motorbike shopping.</p>
                    </div>
                    <div class="quote-navy-title">Amelia Smith</div>
                  </article>
                  <!-- Quote navy-->
                  <article class="quote-navy">
                    <div class="quote-navy-text">
                      <p class="q">Your choice of bike helmets is really awesome! I’ve found what I wanted in just a few minutes.</p>
                    </div>
                    <div class="quote-navy-title">Peter Williams</div>
                  </article>
                  <!-- Quote navy-->
                  <article class="quote-navy">
                    <div class="quote-navy-text">
                      <p class="q">This is one of the best motorcycle shops I have ever been to! Thank you for your service!</p>
                    </div>
                    <div class="quote-navy-title">Sam McMillan</div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-modern-panel bg-gray-7">
          <div class="container wow fadeInUp">
            <div class="row justify-content-center">
              <div class="col-xl-11">
                <ul class="footer-modern-nav list-inline">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about-us.html">About</a></li>
                  <li><a href="shop.html">Shop</a></li>
                  <li><a href="#">Elements</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="contact-us.html">Contacts</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>